.skill-logo {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.skill-logo>img {
  max-height: 8vh;
}

.skill-logo>img:hover {
  filter: drop-shadow( 0px 0px 10px #2aabd2);
}

hr.style-one, hr.style-two {
  border: 0;
  height: 2px;
}

hr.style-one {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2aabd2, rgba(0, 0, 0, 0));
  width: 50%;
}

hr.style-two {
  background-image: linear-gradient(to right, #2aabd2, rgba(0, 0, 0, 0));
  margin-right: 80%;
}

.skills-color{
  color: white;
}
