#particles-js{
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
}

h3 {
  color: white;
  font-size: 26px !important;
  font-weight: 400 !important;
  letter-spacing: 5px !important;
  text-align: center !important;
}

h4 {
  color: white;
  font-size: 18px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
}

h5 {
  color: white;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
}

h6 {
  color: white;
  font-size: 12px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
}


#about {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

#skills, #experience, #projects, #contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

#section5 {
  padding-bottom: 120px;
}

.my-photo {
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
}

.my-photo img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.my-photo:hover img {
  transform: scale(1.5);
}

.info-text {
  color: white;
}
.jarallax {
  position: relative;
  background-size: 100% auto !important;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  min-height: 400px;
}

.jarallax>.jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
